@import './variables.css';
@import './typhograpy.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    transition: all 0.3s ease-in-out;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

/* Custom Styles */
button {
    background-color: var(--accent-color);
    color: var(--background-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover-color);
}

.card {
    border: 1px solid var(--border-color);
    background-color: var(--secondary-color);
    padding: 15px;
    border-radius: 5px;
}

.image-flipper {
    height: -webkit-fill-available;
    width: 100%;
    object-fit: cover;
}